<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.BusinessOrderMapper">
    <resultMap id="OrderResMap" type="com.ruoyi.wms.domain.vo.businessorder.BusinessOrderVo">
        <id property="id" column="order_id" />
        <result property="type" column="type" />
        <result property="userId" column="user_id" />
        <result property="status" column="status" />
        <result property="remark" column="remark" />
        <result property="totalAmount" column="total_amount" />
        <result property="createTime" column="create_time" />

        <collection property="merchandises" ofType="com.ruoyi.wms.domain.vo.MerchandiseVo"
                    select="selectMerchandiseList" column="order_id"/>
    </resultMap>

    <resultMap id="MerchandiseResMap" type="com.ruoyi.wms.domain.vo.MerchandiseVo">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="fnsku" column="fnsku" />
        <result property="asin" column="asin" />
        <result property="size" column="size" />
        <result property="color" column="color" />
        <result property="type" column="type" />
        <result property="image" column="image" />
        <result property="price" column="price" />
        <result property="quantityRequired" column="quantity_required" />
        <result property="quantityShipped" column="quantity_shipped" />
        <result property="quantityNotice" column="quantity_notice" />
        <result property="labelOption" column="label_option" />
    </resultMap>

    <resultMap id="OrderDetailResMap" type="com.ruoyi.wms.domain.vo.businessorder.BusinessOrderDetailVo">
        <id property="id" column="order_id" />
        <result property="type" column="type" />
        <result property="status" column="status" />
        <result property="userId" column="user_id" />
        <result property="remark" column="remark" />
        <result property="totalAmount" column="total_amount" />
        <result property="createTime" column="create_time" />

        <collection property="merchandises" ofType="com.ruoyi.wms.domain.vo.MerchandiseVo"
                    select="selectMerchandiseListByOrderId" column="order_id"/>
        <collection property="shipmentNotices" ofType="com.ruoyi.wms.domain.vo.shipmentnotice.ShipmentNoticeOrderDetailVo"
                    select="selectShipmentNoticeByOrderId" column="order_id" />
    </resultMap>

    <resultMap id="ShipmentNoticeResMap" type="com.ruoyi.wms.domain.vo.shipmentnotice.ShipmentNoticeOrderDetailVo">
        <id property="id" column="shipment_notice_id" />
        <result property="tag" column="tag" />
        <result property="status" column="status" />
        <result property="deliveryMethod" column="delivery_method" />
        <result property="createTime" column="create_time" />

        <collection property="merchandises" ofType="com.ruoyi.wms.domain.vo.MerchandiseVo"
                    select="selectMerchandiseListByShipmentNoticeId" column="shipment_notice_id"/>
    </resultMap>


    <sql id="selectMerchandiseSql">
        select
            om.quantity_required,
            m.*,
            m.id as m_id,
            om.label_option
        from order_merchandise om
        inner join merchandise m on m.id = om.merchandise_id
    </sql>

    <select id="selectMerchandiseList" resultMap="MerchandiseResMap">
        select
            om.quantity_required,
            m.*,
            m.id as m_id,
            om.label_option
        from order_merchandise om
        inner join merchandise m on m.id = om.merchandise_id
        where om.order_id = #{order_id}
    </select>

    <select id="selectMerchandiseListByOrderId" resultMap="MerchandiseResMap">
        SELECT DISTINCT
            m.id,
            m.asin,
            m.color,
            m.fnsku,
            m.image,
            m.`name`,
            m.price,
            m.size,
            m.type,
            om.label_option,
            sqs.quantity_shipped,
            om.quantity_required
        FROM (select
                *
            from business_order
            where id = #{order_id}
        ) bo
        JOIN order_merchandise om on om.order_id = bo.id
        JOIN merchandise m on m.id = om.merchandise_id
        LEFT JOIN (
            SELECT DISTINCT
                sm.merchandise_id,
                SUM(sm.quantity_shipped) quantity_shipped
            FROM (
                SELECT
                    *
                FROM shipment_notice
                WHERE order_id =  #{order_id}
            ) sn
            JOIN shipment_notice_merchandise snm ON snm.shipment_notice_id = sn.id
            JOIN shipment s on s.shipment_notice_id = snm.shipment_notice_id
            JOIN shipment_merchandise sm ON sm.shipment_id = s.id
            GROUP BY sm.merchandise_id
        ) sqs on sqs.merchandise_id = m.id
    </select>

    <select id="selectMerchandiseListByShipmentNoticeId" resultMap="MerchandiseResMap">
        select distinct
            m.id,
            m.asin,
            m.color,
            m.fnsku,
            m.image,
            m.`name`,
            m.price,
            m.size,
            m.type,
            om.label_option,
            om.quantity_required,
            snm.quantity_notice
        from shipment_notice sn
        inner join shipment_notice_merchandise snm on snm.shipment_notice_id = sn.id
        inner join order_merchandise om on om.order_id = sn.order_id AND om.merchandise_id = snm.merchandise_id
        inner join merchandise m on m.id = snm.merchandise_id
        where sn.id = #{shipment_notice_id}
    </select>

    <select id="selectOrderList" resultMap="OrderResMap">
        select o.*, o.id as order_id
        from business_order o
        <where>
            <if test="bo.id != null and bo.id != ''">
                and o.id = #{bo.id}
            </if>
            <if test="bo.userId != null and bo.userId !='' ">
                and o.user_id = #{bo.userId}
            </if>
            <if test="bo.type != null and bo.type != ''">
                and o.type = #{bo.type}
            </if>
            <if test="bo.status != null and bo.status != ''">
                and o.status = #{bo.status}
            </if>
        </where>
    </select>

    <select id="selectOrderDetailById" resultMap="OrderDetailResMap" parameterType="Long">
        select
            *,
            id order_id
        from business_order
        where id = #{id}
    </select>

    <select id="selectShipmentNoticeByOrderId" resultMap="ShipmentNoticeResMap">
        select
            *,
            id shipment_notice_id
        from shipment_notice
        where order_id = #{order_id}
    </select>

</mapper>
