<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.MerchandiseMapper">
    <select id="selectShipmentMerchandiseByShipmentNoticeId"
            resultType="com.ruoyi.wms.domain.vo.merchandise.MerchandiseShipmentCreatingVo">
        select distinct
            m.*,
            om.label_option,
            snm.quantity_notice,
            i.number stock,
            sqs.total_quantity_shipped
        from (
            select
                merchandise_id,
                shipment_notice_id,
                quantity_notice
            from shipment_notice_merchandise
            where shipment_notice_id = #{id} and is_delete = 0
        ) snm
        inner join shipment_notice sn on sn.id = snm.shipment_notice_id
        inner join order_merchandise om on om.merchandise_id = snm.merchandise_id and om.order_id = sn.order_id
        inner join merchandise m on m.id = snm.merchandise_id
        inner join inventory i on i.merchandise_id = snm.merchandise_id
        left join (
            select
                sm2.merchandise_id,
                sum(sm2.quantity_shipped) total_quantity_shipped
            from
            (
                select
                    id,
                    order_id
                from shipment_notice
                where id = #{id} and is_delete = 0 and status != 1
            ) sn2
            inner join shipment s2 on s2.shipment_notice_id = sn2.id
            inner join shipment_merchandise sm2 on sm2.shipment_id = s2.id
            group by sm2.merchandise_id
        ) sqs on sqs.merchandise_id = m.id
    </select>

    <select id="selectNoticeMerchandiseByOrderId"
            resultType="com.ruoyi.wms.domain.vo.merchandise.MerchandiseNoticeCreatingVo">
        select distinct
            m.*,
            om.label_option,
            om.quantity_required,
            sqn.total_quantity_notice
        from (
            select
                merchandise_id,
                order_id,
                quantity_required,
                label_option
            from order_merchandise
            where order_id = #{id} and is_delete = 0
        ) om
        inner join merchandise m on m.id = om.merchandise_id
        left join (
            select
                merchandise_id,
                sum(quantity_notice) total_quantity_notice
            from (
                select
                    id
                from shipment_notice
                where order_id = #{id} and is_delete = 0 and status != 1
            ) sn2
            inner join shipment_notice_merchandise snm2 on snm2.shipment_notice_id = sn2.id
            group by merchandise_id
        ) sqn on sqn.merchandise_id = om.merchandise_id
    </select>
</mapper>
