<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.OrderMerchandiseMapper">

    <select id="checkMerchandiseInOrder" resultType="int">
        select
            count(*)
        from order_merchandise om
        where om.order_id = #{bo.orderId} and om.merchandise_id = #{bo.merchandiseId}
    </select>
</mapper>
